<!-- <div class="navbar-nav" >
  <a class="nav-item nav-link" routerLink="/">Home</a>
  <a class="nav-item nav-link" routerLink="/admin" *ngIf="(user$ | async)?.role === ADMIN">Admin</a>
  <a class="nav-item nav-link" *ngIf="(user$ | async)" (click)="logout()">Logout</a>
</div> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="nav-item" routerLink="/">Home</a>
    <a
      class="nav-item"
      routerLink="/admin"
      *ngIf="(user$ | async)?.role === ADMIN"
      >Admin</a
    >
   
    <span class="example-spacer"></span>
    <!-- <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
      >verified_user</mat-icon
    > -->
    <a class="nav-item" *ngIf="!(user$ | async)" routerLink="/login">Login</a
  > <a class="nav-item" *ngIf="user$ | async" (click)="logout()"
  >Logout</a
>
  </mat-toolbar-row>
</mat-toolbar>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
